<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientIdentifier</key>
	<string>production</string>
	<key>DaysBetweenNotifications</key>
	<integer>1</integer>
	<key>InstallAppleSoftwareUpdates</key>
	<true/>
	<key>LastCheckDate</key>
	<date>2010-11-27T18:41:15Z</date>
	<key>LastCheckResult</key>
	<integer>0</integer>
	<key>LogFile</key>
	<string>/Library/Managed Installs/Logs/ManagedSoftwareUpdate.log</string>
	<key>LoggingLevel</key>
	<integer>1</integer>
	<key>ManagedInstallDir</key>
	<string>/Library/Managed Installs</string>
	<key>SoftwareRepoURL</key>
	<string>http://nate.adullmoment.com/munki</string>
	<key>SoftwareUpdateServerURL</key>
	<string>http://swupd.adullmoment.com:8088/index.sucatalog</string>
	<key>SuppressAutoInstall</key>
	<false/>
	<key>SuppressStopButtonOnInstall</key>
	<false/>
	<key>SuppressUserNotification</key>
	<false/>
	<key>UseClientCertificate</key>
	<false/>
</dict>
</plist>
